* {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/heroImage.JPG");
  background-size: cover;
  background-position: 35%; }
  #header h1 {
    font-size: 4em;
    padding: 20px 20px 0 20px;
    margin-bottom: -10px;
    font-family: 'Dancing Script', cursive;
    color: #1c67a8; }
  #header h2 {
    font-size: .9em;
    color: #1c67a8;
    font-family: 'Questrial', sans-serif;
    margin-top: 5px;
    text-align: center; }
  #header #headerTitle {
    background-color: #d1faff;
    color: #1c67a8;
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
    #header #headerTitle img {
      width: 30px;
      top: 25px;
      right: 25px;
      z-index: 50;
      position: absolute;
      cursor: pointer; }
  #header nav {
    margin-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center; }
    #header nav p {
      width: 100%;
      padding: 20px 0 20px 0;
      font-family: 'Questrial', sans-serif;
      color: #1c67a8;
      -webkit-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      cursor: pointer; }
      #header nav p:hover {
        background-color: #1c67a8;
        color: #d1faff; }

@media (max-width: 740px) {
  #header #headerTitle {
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0;
    overflow: hidden;
    height: 65px;
    color: #E8D0A9; }
  #header h1 {
    font-size: 2em;
    margin-left: 20px;
    margin-top: 7px;
    padding: 0; }
  #header h2 {
    font-size: .67em;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left; }
  #header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 23px); }
    #header nav p {
      margin: 10px;
      padding: 15px 0 10px 0; } }

@media (max-width: 580px) {
  #header h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: -7px; } }

@media (max-width: 400px) {
  #header h1 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: -7px; } }

#bio {
  width: 50%;
  background-color: #cdd28c;
  vertical-align: bottom; }
  #bio img {
    margin: 20px 0px 20px 0;
    border-radius: 50%;
    border: 10px solid #1c67a8;
    width: calc(100% - 20px);
    max-width: 300px; }
  #bio h1 {
    margin-bottom: 10px;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    color: #1c67a8; }
  #bio p {
    color: black;
    font-size: 12;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 20px; }

#bioHead {
  text-align: center; }

#bioWrapper {
  padding: 40px;
  color: #1c67a8;
  width: 100%; }

@media (max-width: 740px) {
  #bio {
    width: 100%; } }

#skills {
  color: #1c67a8;
  text-align: center;
  float: right;
  background-color: #e1e4ba;
  width: 100%; }
  #skills h1 {
    font-size: 3em;
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;
    color: #1c67a8;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }

#skillSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  padding-bottom: 60px; }
  #skillSection .skillSectionHalf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: auto; }

.skillSectionContainer {
  width: 100%; }
  .skillSectionContainer p {
    font-size: 12px;
    margin-top: 5px; }
  .skillSectionContainer img {
    width: 50%; }

#skillSeperator {
  height: 40px; }

#testimonial {
  background-color: #f5f6e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 60px; }
  #testimonial #testWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #testimonial #testWrapper p {
      margin-bottom: 5px; }
    #testimonial #testWrapper img {
      width: 40px;
      position: absolute;
      z-index: -1; }
  #testimonial h1 {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    color: #1c67a8;
    text-align: center;
    padding-bottom: 20px; }

@media (max-width: 740px) {
  #skills {
    padding-bottom: 40px; }
  .skillSectionHalf {
    width: 80%; }
  #skillSection {
    width: 100%;
    padding: 0; }
    #skillSection h1 {
      width: 100%; }
    #skillSection img {
      width: 40px; } }

#title {
  margin: 20px 0 40px 0; }
  #title h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: -10px;
    font-family: 'Dancing Script', cursive;
    color: #1c67a8; }

#portfolioItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0;
  margin: auto;
  max-width: 800px;
  margin-bottom: 10px; }
  #portfolioItems .portCol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 30px; }
    #portfolioItems .portCol .portItem {
      text-align: center;
      max-width: 200px;
      overflow: hidden; }
      #portfolioItems .portCol .portItem P {
        line-height: 1; }
      #portfolioItems .portCol .portItem img {
        width: 70%;
        margin-bottom: 10px; }
        #portfolioItems .portCol .portItem img:hover {
          width: 75%;
          -webkit-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s;
          cursor: pointer; }

@media (max-width: 540px) {
  #portfolioItems {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    #portfolioItems .portCol {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      #portfolioItems .portCol .portItem {
        margin: auto;
        max-width: 200px; }
        #portfolioItems .portCol .portItem p {
          margin-bottom: 20px; } }

footer {
  padding: 20px;
  background-color: #d1faff;
  color: #1c67a8; }

#formWrapper {
  padding: 20px;
  max-width: calc(800px - 20px);
  margin: auto;
  text-align: center; }
  #formWrapper form {
    text-align: left;
    max-width: 500px;
    margin: auto; }
    #formWrapper form p {
      margin: 10px 0 20px 0; }
  #formWrapper label {
    font-weight: 900; }
  #formWrapper input {
    margin: 5px 0 15px 0;
    line-height: 1.2;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #1c67a8;
    font-size: 1.2em; }
  #formWrapper textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border: none;
    resize: none;
    font-size: 1.2em; }
  #formWrapper h1 {
    font-size: 4em;
    font-family: 'Dancing Script', cursive; }
  #formWrapper button {
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 5px;
    color: #1c67a8; }

#portFullDisplayWrapper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }
  #portFullDisplayWrapper #portFullItemWrapper {
    margin: auto;
    max-width: 400px; }
    #portFullDisplayWrapper #portFullItemWrapper #closeButton {
      position: absolute;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 16px;
      cursor: pointer; }
    #portFullDisplayWrapper #portFullItemWrapper img {
      width: 100%; }

body {
  overflow-x: hidden; }

#skillTestWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }

#bioSkillTestWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

@media (max-width: 740px) {
  #bioSkillTestWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #skillTestWrapper {
    width: 100%; } }
