$lightblue: rgba(209, 250, 255, 1);
$midblue: rgba(155, 209, 229, 1);
$darkblue: rgba(28, 103, 168, 1);
$midgreen: rgba(87, 167, 115, 1);
$darkgreen: rgba(21, 113, 69, 1);
$turq: #217C7E;
$red: #9A3334;
$backgroundshade: rgba(255, 255, 255, 0.8);
$backgroundshadier: rgba(255, 255, 255, 0.3);
$titlecolor: #E8D0A9;