#bio {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: $lightblue;
    overflow-x: hidden;
    img {
        margin: 20px 0px 20px 0;
        border-radius: 50%;
        border: 10px solid $darkblue;
        width: calc(100% - 20px);
        max-width: 300px;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 3em;
    }
    p {
        color: black;
        font-size: 12;
    }
}

#bioHead {
    text-align: center;
}

#bioWrapper {
    background-color: $backgroundshade;
    padding: 20px;
    max-width: calc(800px - 20px);
    margin: auto;
    color: $darkblue;
}