#bio {
    width: 50%;
    background-color: #cdd28c;
    vertical-align: bottom;
    img {
        margin: 20px 0px 20px 0;
        border-radius: 50%;
        border: 10px solid $darkblue;
        width: calc(100% - 20px);
        max-width: 300px;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 3em;
        font-family: 'Dancing Script', cursive;
        color: $darkblue;
    }
    p {
        color: black;
        font-size: 12;
        font-family: 'Questrial', sans-serif;
        font-size: 1em;
        line-height: 1;
        margin-bottom: 20px;
    }
}

#bioHead {
    text-align: center;
}

#bioWrapper {
    padding: 40px;
    color: $darkblue;
    width: 100%;
}

@media (max-width: 740px) {
  #bio {
    width: 100%;
  }
}
