footer {
    padding: 20px;
    color: $darkblue;
}

#formWrapper {
    padding: 20px;
    max-width: calc(800px - 20px);
    margin: auto;
    text-align: center;
    form {
        text-align: left;
        max-width: 500px;
        margin: auto;
        p {
            margin: 10px 0 20px 0;
        }
    }
    label {
        font-weight: 900;
    }
    input {
        margin: 5px 0 15px 0;
        line-height: 1.2;
        width: 100%;
        border: none;
        background: none;
        border-bottom: 1px solid $darkblue;
        font-size: 1.2em;
        outline: 0;
    }
    textarea {
        width: 100%;
        background-color: $backgroundshadier;
        margin-top: 10px;
        border: none;
        resize: none;
        font-size: 1.2em;
        outline: 0;
    }
    h1 {
        font-size: 3em;
        font-family: 'Dancing Script', cursive;
    }
    button {
        background: none;
        border: none;
        font-size: 1.5em;
        font-weight: 900;
        margin-top: 5px;
        color: $darkblue;
    }
}

