#header {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/heroImage.JPG');
    background-size: cover;
    background-position: 35%;
    h1 {
        font-size: 4em;
        padding: 20px 20px 0 20px;
        margin-bottom: -10px;
        font-family: 'Dancing Script', cursive;
        color: $darkblue;
    }
    h2 {
        font-size: .9em;
        color: $darkblue;
        font-family: 'Questrial', sans-serif;
        margin-top: 5px;
        text-align: center;
    }
    #headerTitle {
        background-color: $lightblue;
        color: $darkblue;
        position: absolute;
        right: 0;
        text-align: right;
        margin-right: 50px;
        margin-top: 50px;
        animation-duration: 1s;
        #menubtn {
            width: 30px;
            top: 20px;
            right: 20px;
            z-index: 999;
            position: absolute;
            cursor: pointer;
        }
    }
    nav {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        text-align: center;
        
        p {
            width: 100%;
            padding: 20px 0 20px 0;
            font-family: 'Questrial', sans-serif;
            color: $darkblue;
            transition: .15s;
            cursor: pointer;
            &:hover {
                background-color: $darkblue;
                color: $lightblue;
            }
        }
        
    }
}
@media (max-width: 740px) {
    #header {
        #headerTitle {
            width: 100%;
            margin: 0;
            text-align: left;
            padding: 0;
            overflow: hidden;
            height: 65px;
            color: $titlecolor;
        }
        h1 {
            font-size: 2em;
            margin-left: 20px;
            margin-top: 7px;
            padding: 0;
        }
        h2 {
            font-size: .67em;
            margin-left: 20px;
            margin-top: 10px;
            text-align: left;
        }
        nav {
            flex-direction: column;
            width: calc(100% - 23px);
            p {
            margin: 10px;
            padding: 15px 0 10px 0;
        }
        }
        
    }
}

@media (max-width: 580px) {
    #header{
        h1 {
            font-size: 1.5em;
            margin-top: 10px;
            margin-bottom: -7px;
        }
    }
}

@media (max-width: 400px) {
    #header{
        h1 {
            font-size: 1.2em;
            margin-top: 10px;
            margin-bottom: -7px;
        }
    }
}