
#title {
    margin-bottom: 40px;
    padding-top: 20px;
    h1 {
        text-align: center;
        font-size: 4em;
        font-family: 'Dancing Script', cursive;
        color: $darkblue;
    }
}

#portfolioItems {
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin: auto;
    max-width: 800px;
    .portCol {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
        .portItem {
            text-align: center;
            max-width: 200px;
            cursor: pointer;
            P {
                line-height: 1;
            }
            img {
                width: 70%;
                margin-bottom: 10px;
                &:hover {
                   transform: scale(1.1);
                   transition-duration: .2s;
                }
            }
        }
    }
}

@media (max-width: 360px) {
  #portfolioItems {
      flex-direction: row;
      .portCol {
          flex-direction: column;
          width: 100%;
          .portItem {
              margin: auto;
              max-width: 200px;
              p {
                  margin-bottom: 20px;
              }
          }
      }
  }
}

#portDesign {
    position: absolute;
    z-index: -1;
}

.st4 {
    width: 100%;
    height: 100%;
    animation: 10s 3s ease infinite;
}
.st5 {
    fill: #e1e4ba;
}
.st6 {
    fill: #cdd28c;
}