#portFullDisplayWrapper {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    justify-content: space-around;
    color: white;
    #portFullItemWrapper {
        margin: auto;
        max-width: 400px;
    }
}