#skills {
    color: $darkblue;
    text-align: center;
    float: right;
    background-color: #e1e4ba;
    width: 100%;
    h1 {
        font-size: 3em;
        padding-top: 20px;
        font-family: 'Dancing Script', cursive;
        color: $darkblue;
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
}

#skillSection {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    padding-bottom: 60px;
    .skillSectionHalf {
      display: flex;
      flex-direction: row;
      margin: auto;
    }
}

.skillSectionContainer {
  width: 100%;
  p {
    font-size: 12px;
    margin-top: 5px;
  }
  img {
    width: 50%;
  }
}

#skillSeperator {
  height: 40px;
}

#testimonial {
  background-color: #f5f6e8;
  display: flex;
  justify-content: space-around;
  padding: 60px;
  #testWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-bottom: 5px;
    }
    img {
      width: 40px;
      position: absolute;
      z-index: -1;
    }
  }
  h1 {
      font-size: 3em;
      font-family: 'Dancing Script', cursive;
      color: $darkblue;
      text-align: center;
      padding-bottom: 20px;}
}

@media (max-width: 740px) {
  #skills {
    padding-bottom: 40px;
  }
  .skillSectionHalf {
    width: 80%;
  }
  #skillSection {
    width: 100%;
    padding: 0;
    h1 {
      width: 100%;
    }
    img {
      width: 40px;
    }
  }
}
