/* Coolors Exported Palette - coolors.co/d1faff-9bd1e5-6a8eae-57a773-157145 */

/* HSL */
$color1: hsla(187%, 100%, 91%, 1);
$color2: hsla(196%, 59%, 75%, 1);
$color3: hsla(208%, 30%, 55%, 1);
$color4: hsla(141%, 31%, 50%, 1);
$color5: hsla(151%, 69%, 26%, 1);

/* RGB */
