@import '_reset.scss';
@import '_assets.scss';
@import '_header.scss';
@import '_biography.scss';
@import '_skills.scss';
@import '_workhistory.scss';
@import '_contact.scss';

body
{
    overflow-x: hidden;
}

#skillTestWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#bioSkillTestWrapper {
  display: flex;
  flex-direction: row;
}

@media (max-width: 740px) {
  #bioSkillTestWrapper {
    display: flex;
    flex-direction: column;
  }
  #skillTestWrapper {
    width: 100%;
  }
}
