@import '_reset.scss';
@import '_assets.scss';
@import '_header.scss';
@import '_biography.scss';
@import '_skills.scss';
@import '_portfolio.scss';
@import '_contact.scss';
@import '_portItemDisplay.scss';
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



body
{
    overflow-x: hidden;
    
  background-color: #e1e4ba;
}

#skillTestWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#bioSkillTestWrapper {
  display: flex;
  flex-direction: row;
  background-color: #cdd28c;
}

@media (max-width: 740px) {
  #bioSkillTestWrapper {
    display: flex;
    flex-direction: column;
  }
  #skillTestWrapper {
    width: 100%;
  }
}
